

.wrapper {
    background-color: white;
    font-size: 20px;
    line-height: 3em;
    float: left;
    padding: 10%;
    margin-left: 30%;
    margin-top: 20px;
   
}
.image-left {
    width: 50px;
    float: left;
    
}

/* .image-right {
    width: 50px;
    float: right;
    
} */

img {
    display: block;

}

body {
    background-image: url("../images/fur.jpg");
}

p,
h1,
#currentWord,
#guessedLetters,
#remainingGuesses,
#winCount {
    text-align: center;
}

#currentWord{
    font-size: 30px;
}

#bigtitle {
    font-size: 30px;
    line-height: 3em;
}

